
body{
	
	margin: 0px;
	
}

/*Conteúdo do topo do site*/
.header_content{
	display: flex;
	align-items: center;
	margin-left: 6%;
	margin-right: 6%;

}

nav{
	background-color: #292929;
}

nav h1{
	
	color: White;
	
}

nav a{
	
	text-decoration: none;
	color: #8c8c8c;
	margin: 8px;
	
}

a:hover{
	
	color: white;
	
}

.logo_content{
	
	width: -webkit-fill-available;
	
}

.links_content > ul {
	width: auto;
	display: flex;
	padding: 0;
	list-style: none;
	float: right;
}

/*Conteúdo do site*/

section{
	
	margin-left: 6%;
}

/*Rodapé*/

footer{
	
	background-color: #292929;
	
}

.footer_content{
	
	margin-left: 6%;
	padding: 8px;
	text-decoration: none;
	color: #8c8c8c;
	
}
